<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local storage Todo List</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    
    <header>
        <div id="arrow-container">
            <i class="fas fa-sync-alt" class="arrow-btn"></i>
        </div>

        <div id="date-container">
            <span id="date"></span>
        </div>
    </header>

    <div id="task-container">
        <div class="task">
            <div class="task-description done">
                <div class="done-btn done"></div>
                <span class="task-text done ">Wash dishes</span> 
            </div>

            <i class="fas fa-trash delete-btn"></i>
        </div>

        <div class="task">
            <div class="task-description">
                <div class="done-btn"></div>
                <span class="task-text">Walk the dog</span> 
            </div>

            <i class="fas fa-trash delete-btn"></i>
        </div>
    </div>

    <div id="add-task">
        <i class="fas fa-plus-circle" id="add-btn"></i>
        <input type="text" id="add-input" placeholder="Add Task">
    </div>

    <script src="https://kit.fontawesome.com/cc960dddf2.js" crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>